#full-page-loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #192734;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#full-page-loader .loader-image {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: auto;
    z-index: 999;
    display: flex;
}

#full-page-spinner {
    animation: rotate 0.56s infinite linear;
    width:75px;
    height:75px;
    /* border:12px solid rgb(101, 157, 189); */
    border:7.5px solid #00c2ae; 
    border-bottom:7.5px solid #007c70;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}