body {
    background-color: #212121;     
 }
 * {
    color: #e0e0e0; 
 }
 a {
     color: #e0e0e0; 
 }
 .tag-color{
     background-color: #00897B;
 }
 .tag {
     padding-left: 10px;
     padding-right: 10px;
 }
 .blog_card {
     padding-bottom: 20px;
     padding-top: 20px;
 }

.blog-card {
    background-color: #424242;;
}

.main-page-side-panel {
    background-color: #424242;
}

.blog-image {
    align-items: center;
    max-height: inherit;
    max-width: inherit;
}